
.counter{
    width:100%;
    height: 100vh;
    background-color: #425e4d;
    display:flex;
    justify-content: center;
}
.container{
    padding-top: 100px;
}
.subContainer{
    background-color: white;
    width: 200px;
    padding: 1rem 6rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgb(0,0,0,0.4);
}
.buttons{
    display: flex;
}
.increament,.decrement{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 18px;
    background-color:skyblue ;
    width: 100px;
    height:50px;
    border:none;
    border-radius: 15px;
    cursor: pointer;
}
.increament{
    margin-right: 15px;
}
